body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-top: 0;
    font-size: 2rem;
    color: #1DB954;
}

p {
    color: #B3B3B3;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    background-color: #535353;
    border-radius: 10px;
}

#sudoku-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #282828;
    aspect-ratio: 1;
    position: relative;
    background-color: #121212;
}

#sudoku-board input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    color: #1DB954;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#sudoku-board span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: #282828;
    text-align: center;
    line-height: normal;
}

button {
    background-color: #1DB954;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #FFFFFF;
    color: #1DB954;
    transform: scale(1.05);

}


/* Additional styling for editable cells */
#sudoku-board input.editable-cell {
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid transparent; /* Default border */
    transition: background-color 0.3s, color 0.3s;
}

/* Prefilled cells styling */
#sudoku-board span.prefilled-cell {
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

